<div class="helpers">
  <h1>Amphibians</h1>


  <div class="description">

    
    <h2>Common amphibians found along the river</h2>
    <ul>
      <li>Salamanders</li>
      <li>Spring Peeper (Frog)</li>
      <li>Bullfrog</li>
      <li>Green Frog</li>
      <li>Mud Puppy</li>
    </ul>


    <h2>Vulnerable species</h2>
    <%= image_tag('helpers/amphibian.jpg', alt: "Western Chorus ") %>
    <p class="caption-helper">Western Chorus Frog, a vulnerable species in Quebec <em>(Photo Credit: Scott Gillingwater)</em></p>

    <p>Amphibians are especially sensitive to changes in the health of their river habitat.</p>
  </div>
</div>