<div class="helpers">
  <h1>Birds</h1>


  <div class="description">
        <%= image_tag('helpers/bird.jpg', alt: "The Least Bittern") %>
    <p class="caption-helper">The Least Bittern (<em>Ixobrychus exilis</em>), a threatened species, can be seen in the Outaouais region, primarily in the wetlands
bordering the Ottawa River between Gatineau and Papineauville.</p>
    <p>Over 300 birds are found along the Ottawa River.  Half of these are migratory birds, since the Ottawa river is one of the important stops along the Atlantic Flyway.</p>
    <p>The Ottawa River birds are threatened by intensive hunting, and the hydro dam construction.</p>

    <h2>Some common migratory birds</h2>
    <ul>
      <li>Black Duck</li>
      <li>Mallard</li>
      <li>Wood Duck</li>
      <li>Canada Geese</li>
      <li>Northern Pintail</li>
      <li>Northern Shoveler</li>
      <li>Green-Winged Teal</li>
      <li>Brant Geese</li>
      <li>Artic Tern</li>
      <li>Red-Throated Loon</li>
      <li>Great Blue Heron</li>
    </ul>


    <h2>Other birds of interest...</h2>

    <ul>
      <li>Harlequin Ducks</li>
      <li>Common Goldeneyes</li>
      <li>Merlin</li>
      <li>Bald Eagle</li>
      <li>Red-Shouldered Hawk (rare)</li>
      <li>Peregrine Falcon (threatened)</li>
      <li>The Least Bittern (threatened)</li>
    </ul>



  </div>

</div>