<div class="helpers">
  <h1>clarity</h1>

  <div class="description">


    <h2>How depth is measured</h2>

    <p>The depth at which a standardized Secchi Disk becomes impossible to see when immersed in a body of water provides a general measurement of water clarity for that area. Water clarity can reflect water quality characteristics such as the amount of photosynthesis taking place due to algae, and the degree of suspended sediment present in the water.</p>
    <img src="http://riverrangerimages.mybluemix.net/images/secchi.jpg" alt="secchi disk" />
    <p class="caption-helper">How the secchi disk works</p>
  </div>
</div>