<div class="helpers">
  <h1>dog strangling vine</h1>


  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/dsv.jpg" alt="Dog Strangling Vine" />
    <p class="caption-helper">Dog Strangling Vine (<em>Vincetoxicum rossicum</em>) photo by Ken Towle and Greg Bales</p>

    <p>The name "dog-strangling vine" refers to two invasive plants native to Eurasia– black swallowwort and pale swallowwort. </p>

    <h2>How to identify it</h2>

    <ul>
      <li>Grows one to two metres high by twining onto plants, trees or other structures</li>
      <li>Leaves are oval with a pointed tip, seven to 12 centimetres long, and grow on opposite sides of the stem</li>
      <li>Pink to dark purple star-shaped flowers have five petals about five to nine millimetres long</li>
      <li>Produces bean-shaped seed pods four to seven centimetres long that open to release feathery white seeds in late summer</li>
    </ul>

    <h2>Effects</h2>

    <ul>
      <li>Forms dense stands that overwhelm and crowd out native plants and young trees</li>
      <li>Makes it hard to walk through the woods</li>
      <li>Leaves and roots may be toxic to livestock</li>
      <li>The vine threatens the monarch butterfly</li>
    </ul>


  </div>

</div>