<div class="helpers">
  <h1>E-coli</h1>

  <div class="description">




    <p>The presence or absence of these bacteria may be determined with laboratory testing and is used as an indicator of contamination from agricultural runoff or human septic waste. Tests for fecal coliforms are performed at many urban beaches in order to determine if water is at or above an acceptable threshold for recreation (approximately 200 coliforms/100mL).</p>
    <img src="http://riverrangerimages.mybluemix.net/images/ecoli.jpg" alt="Ecoli testing" />
    <p class="caption-helper">Testing must be done at a lab</p>
  </div>

</div>