<div class="helpers">
  <h1>Fish</h1>


  <div class="description">


    <h2>Common Fish living in the Ottawa River watershed</h2>
    <ul>
      <li>Muskellunge</li>
      <li>Pike</li>
      <li>Walleye</li>
      <li>Sauger (similar to Walleye)</li>
      <li>Largemouth and Smallmouth Bass</li>
      <li>Yellow Perch</li>
      <li>Longnose Gar</li>
    </ul>
    <img src="http://riverrangerimages.mybluemix.net/images/fish.jpg" alt="Longnose Gar" />
    <p class="caption-helper">The Longnose Gar is fierce predator, scaly, needle‐nosed, and quite large, often growing to 1 metre in length and to a weight of 10 kilograms. Although scary to look at, it in fact a common species in the Ottawa River. It's an ancient species, dating back to the Cretaceous period of up to 140 million years ago.</p>
    <h2>Fish at risk</h2>

    <ul>
      <li>American Shad (due to Hydro)</li>
      <li>Eels (due to Hydro)</li>
      <li>River Redhorse (Southern regions, sensitive to pollution)</li>
      <li>Lake Sturgeon</li>
      <li>White‐tailed Deer</li>
      <li>Little Brown and Big Brown Bats</li>
    </ul>

    <p>There are 85 species of fish documented in the Ottawa River, living in habitats ranging from slow-moving waters, deep and shallow lakes and wetlands. Most of the diversity happens close to shallow shoreline areas. Fish are most affected by hydroelectric dams.</p>
  </div>
</div>