<div class="helpers">
  <h1>Foam</h1>
  <div class="description">

   

    <p>The formation of foam along shorelines as usually a result of turbulent currents or wave action is a normal occurrence in waters high in dissolved organic matter, such as those found throughout the Ottawa River watershed.</p>

    <h2>Is it natural foam?</h2>
    <ul>
      <li><strong>Colour:</strong> light tan or brown, but may be white</li>
      <li><strong>Smell:</strong> earthy, fishy or has fresh cut grass odor</li>
      <li><strong>Area:</strong> can occur over large areas and accumulate in large amounts, especially on windward shores, in coves and eddies</li>
      <li><strong>When:</strong> dissipates fairly quickly, except when agitated (as in high wind conditions)</li>
    </ul>

     <%= image_tag('helpers/foam.jpg', alt: "Harmless foam") %>
    <p class="caption-helper">Strange masses of foam were reported drifting on Friday down the Ottawa River. The City of Ottawa later told residents the foam was naturally occurring and not harmful to humans. (Giacomo Panico/CBC)</p>


    <h2>Is it harmful (human activity) foam?</h2>

    <ul>
      <li><strong>Causes:</strong> could be excess phosphorus in the water</li>
      <li><strong>Colour:</strong> usually white</li>
      <li><strong>Smell:</strong>  fragrant, perfumed or soapy</li>
      <li><strong>Area:</strong> usually occurs over small area, localized near source of discharge</li>
    </ul>

    
  </div>
</div>