<div class="helpers">
  <h1>giant hogweed</h1>

  <div class="description">
    <%= image_tag('helpers/hogweed-ex.jpg', alt: "Just a dummy") %>
    <p class="caption-helper">It is a truly giant weed. Don't let the sap get on you!</p>
    



    <p>Originally introduced to North America as a garden curiosity, owing to its great height (up to 5-6m tall) and very large flowers, this invasive species is particularly noxious owing to the toxic qualities of its sap. Contact with the sap causes skin to become highly sensitive to ultraviolet light, leading to a severe, scarring rash; contact with the eyes may potentially lead to blindness.</p>


    <h2>How to tell if it's Hogweed</h2>

    <ul>
      <li>Giant size (5-6m tall)</li>
      <li>Sharply-cut leaves</li>
      <li>Prickly, purple-spotted stem</li>
    </ul>

    <p>Property owners wishing to have giant hogweed removed should contact a professional exterminator in order to avoid the risk associated with control of hogweed.</p>

    <%= image_tag('helpers/hogweed.jpg', alt: "Just a dummy") %>
    <p class="caption-helper">Effects from Giant Hogweed can be severe</p>
  </div>

</div>