<div class="helpers">
  <h1>Insects</h1>


  <div class="description">


    <h2>Common insects living near the shores</h2>
    <ul>
      <li>Dragonflies</li>
      <li>Horseflies</li>
      <li>Ladybugs</li>
      <li>Mosquitoes</li>
      <li>Blackflies
    </ul>
    <%= image_tag('helpers/insect.jpg', alt: "Dragonfly") %>
    <p class="caption-helper">Dragonflies are common</p>

  </div>
</div>