<div class="helpers">
  <h1>introduced honeysuckle</h1>


  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/honeysuckle.jpg" alt="Introduced Honeysuckle" />
    <p class="caption-helper">Invasive honeysuckles are herbaceous shrubs native to Korea, Japan and China. (photo by University of Connecticut)</p>
    <p>It can be difficult to identify introduced honeysuckle, but native species have solid stems, while the invasive exotics do not.</p>



    <h2>Impacts</h2>

    <ul>
      <li>Rapidly invade areas, out-competing native plants</li>
      <li>Affect llight and nutrients for nearby plants</li>
      <li>Produce toxic chemicals that prevent other plants from growing</li>
      <li>Fruit not nutritious for migrating birds compared to native species</li>
      <li>Attract more pollinators affecting native seed production</li>

    </ul>

  </div>

</div>