<div class="helpers">
  <h1>loosestrife</h1>


  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/loosestrife.jpg" alt="loosestrife" />
    <p class="caption-helper">Lythrum salicaria is a flowering plant belonging to the family Lythraceae. It should not be confused with other plants sharing the name loosestrife that are members of the family Primulaceae.</p>
    

    <p>This aquatic plant has the capability of producing as many as 2.7 million seeds every year, resulting in dense stands which crowd out native aquatic vegetation. Since its introduction to North America, it has become a less severe threat as an invasive species; this is due to the discovery that a number of insects feed exclusively on Purple Loosestrife and can be used to control infestations.</p>
  </div>
</div>