<div class="helpers">
  <h1>Nitrites</h1>

  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/nitrates.jpg" alt="Nitrogen cycle" />
    <p class="caption-helper">Nitrogen comes in many forms, and is an integral part to life.</p>

    <p>Nitrites (NO2) represent Nitrogen in a specific form during the nitrogen life-cycle. Nitrogen compounds dissolved in water are an important class of plant nutrients. Natural levels of nitrates may also be supplemented by runoff from nitrate fertilizers used in agriculture. The dominant form of nitrogen present in water is dependent on the level of dissolved oxygen present. Excessive levels of nitrogen may also cause eutrophication (excessive plant growth), a process which can lead to zones with low oxygen content.</p>

    <ul>
      <li>Levels over 1 mg/L are considered dangerous</li>
    </ul>
  </div>
</div>