<div class="helpers">
  <h1>nitrates</h1>

  <div class="description">

    <%= image_tag('helpers/nitrates.jpg', alt: "Nitrogen cycle") %>
    <p class="caption-helper">Nitrogen comes in many forms, and is an integral part to life.</p>

    <p>Nitrates (NO3) represent Nitrogen in a specific form during the nitrogen life-cycle, after Nitrites have been exposed to Nitrifying bacteria. Nitrogen compounds dissolved in water are an important class of plant nutrients. Natural levels of nitrates may also be supplemented by runoff from nitrate fertilizers used in agriculture. The dominant form of nitrogen present in water is dependent on the level of dissolved oxygen present. Excessive levels of nitrogen may also cause eutrophication (excessive plant growth), a process which can lead to zones with low oxygen content.</p>
    <ul>
      <li>Natural levels of nitrate are usually less than 1 mg/L</li>
      <li>Concentrations over 10 mg/L will have an effect on the freshwater aquatic environment</li>
      <li>10 mg/L is also the maximum concentration allowed in human drinking water</li>
      <li>For a sensitive fish the recommended concentration is 0.06 mg/L</li>
    </ul>
  </div>
</div>