<div class="helpers">
  <h1>Dissolved Oxygen</h1>

  <div class="description">



    <p>A sufficient level of dissolved oxygen is required by important biological components of aquatic ecosystems, such as fish and microorganisms responsible for decomposition. For an ecosystem to be healthy, the quantity of oxygen present in the water should be adequate to supply the biological demand for oxygen.</p>
    <ul>
      <li>0-2 mg/L: not enough oxygen to support life</li>
      <li>2-4 mg/L: only a few fish and aquatic insects can survive</li>
      <li>4-7 mg/L: good for many aquatic animals, low for cold water fish</li>
      <li>7-11 mg/L: very good for most stream fish</li>
    </ul>
    <%= image_tag('helpers/oxygen2.jpg', alt: "cycles") %>
    <p class="caption-helper">Required levels for freshwater fish</p>
        <%= image_tag('helpers/oxygen.jpg', alt: "cycles") %>
    <p class="caption-helper">Dissolved oxygen levels often stratify in the winter and summer, turning over in the spring and fall as lake temperatures align.</p>


  </div>
</div>