<div class="helpers">
  <h1>pH</h1>
  <h1>Graph goes here</h1>

  <div class="description">

    <%= image_tag('helpers/beaver.jpg', alt: "Just a dummy") %>
    <p class="caption">Beaver</p>
    <h2>Species living near the shores</h2>

    <p>A logarithmic scale which describes the degree of acidity or basicity present in the Water. All aquatic organisms have a pH tolerance range outside which they will not be able to survive. The harmfulness of certain kinds of pollution to aquatic organisms may vary greatly depending on the pH.</p>
  </div>
  <div class="reported-by">
    <h2>Reported at this location by</h2>
    <ul class="table-observers">
      <li><cite class="date">April 27, 2015</cite><cite>kathryn Kavanagh</cite></li>
      <li><cite class="date">April 10, 2015</cite><cite>Peter McLaren</cite></li>
      <li><cite class="date">March 29, 2015</cite><cite>Owen Bradley</cite></li>
    </ul>
  </div>
</div>