<div class="helpers">
  <h1>pH</h1>

  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/ph.jpg" alt="pH scale" />
    <p class="caption-helper">pH scale</p>

     <h2>About pH</h2>

    <p>A logarithmic scale which describes the degree of acidity or basicity present in the Water. All aquatic organisms have a pH tolerance range outside which they will not be able to survive. The harmfulness of certain kinds of pollution to aquatic organisms may vary greatly depending on the pH.</p>
    <p>Optimal levels for rivers are about 7.4.</p> 

  </div>
</div>