<div class="helpers">
  <h1>phosphates</h1>

  <div class="description">

    <p>While phosphate plays a very important role as a nutrient in aquatic ecosystems, it is difficult to monitor due to its low concentration and the fact that it can appear in both organic and inorganic forms. However, an overly elevated level of phosphates can lead to blooms of harmful algae which can hurt water quality.</p>
    <ul>
      <li>0.01 - 0.03 mg/L - the level in uncontaminated lakes</li>
      <li>0.025 - 0.1 mg/L - level at which plant growth is stimulated</li>
      <li>0.1 mg/L - maximum acceptable to avoid accelerated eutrophication</li>
      <li> > 0.1 mg/L - accelerated growth and consequent problems</li>
    </ul>

    <%= image_tag('helpers/phosphate.jpg', alt: "phosphate sources") %>
    <p class="caption-helper">Phosphates are added to the water by various methods</p>
  </div>
</div>