<div class="helpers">
  <h1>phosphates</h1>
  <h1>Graph goes here</h1>

  <div class="description">

    <%= image_tag('helpers/beaver.jpg', alt: "Just a dummy") %>
    <p class="caption">Beaver</p>
    <p>While phosphate plays a very important role as a nutrient in aquatic ecosystems, it is difficult to monitor due to its low concentration and the fact that it can appear in both organic and inorganic forms. However, an overly elevated level of phosphates can lead to blooms of harmful algae which can hurt water quality.

</p>
  </div>
  <div class="reported-by">
    <h2>Reported at this location by</h2>
    <ul class="table-observers">
      <li><cite class="date">April 27, 2015</cite><cite>kathryn Kavanagh</cite></li>
      <li><cite class="date">April 10, 2015</cite><cite>Peter McLaren</cite></li>
      <li><cite class="date">March 29, 2015</cite><cite>Owen Bradley</cite></li>
    </ul>
  </div>
</div>