<div class="helpers">
  <h1>phragmites</h1>


  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/phragmites.jpg" alt="Phragmites" />
    <p class="caption-helper">Invasive (<em>Phragmites australis subsp. australis</em>) and native species can live closeby each other, making their identification difficult.</p>
    <h2>Invasive Phragmites</h2>
    <ul>
      <li>Grows densely with as many as 200 stems per square metre</li>
      <li>Up to 5 metres tall</li>
      <li>Has stems that are tan or beige in colour with blue-green leaves and large, dense seedheads.</li>
    </ul>


    <h2>Native Phragmites</h2>

    <ul>
      <li>Usually not as dense as the invasive plant</li>
      <li>Well-established stands are frequently mixed with other plants</li>
      <li>Usually has more reddish-brown stems, yellow-green leaves and smaller, sparser seedheads</li>
    </ul>
  </div>
</div>