<div class="helpers">
  <h1>Plants</h1>


  <div class="description">

    <%= image_tag('helpers/plants.jpg', alt: "European Frog-bit") %>
    <p class="caption-helper">European Frog‐bit, a free‐floating aquatic plant with small white flowers, was intentionally
introduced in 1932. This plant species produces a dense floating mat of vegetation, preventing submerged aquatic plants from accessing light, dissolved gases, or nutrients.</p>
    <h2>Common in-stream vegetation</h2>
    <ul>
      <li>Algae</li>
      <li>Macrophytes (larger aquatic plants)</li>
      <li>Hornwort</li>
      <li>Tape grasses</li>
      <li>European Frog-bit (invasive)</li>
      <li>European Water‐Milfoil (invasive)</li>
      <li>Rush</li>
      <li>Horsetail</li>
    </ul>


    <h2>Some examples of riparian (on the bank) vegetation</h2>

    <ul>
      <li>Speckled Alder</li>
      <li>Silky Dogwood</li>
      <li>Sweet Gale</li>
      <li>Little Bluestem</li>
      <li>Numerous fern species</li>
    </ul>


    <h2>Common canopy vegetation</h2>

    <ul>
      <li>Maple</li>
      <li>White and Red Pine</li>
      <li>Eastern White Cedar</li>
      <li>Tamarack</li>
      <li>White, Black Spruce</li>
      <li>Red Oak</li>
      <li>Basswood</li>
      <li>Ash</li>
      <li>Poplar</li>
      <li>Yellow and White Birch</li>
      <li>Jack Pine</li>
      <li>Balsam Fir and Balsam Poplar</li>
      <li>Butternut (endangered)</li>
      <li>Lichens and mosses</li>
    </ul>


  </div>
</div>