<div class="helpers">
  <h1>Algae Blooms</h1>


  <div class="description">

    

    
    <p>An oversupply of nutrients in aquatic ecosystems can cause a variety of algal blooms to appear. While most are harmless, some varieties may be toxic or have a negative environmental impact. If you suspect the presence of blue-green algae (cyanobacteria), which poses a hazard to human health, the bloom should be reported to the Ontario Ministry of the Environment.</p>


  <img src="http://riverrangerimages.mybluemix.net/images/algae-blue.jpg" alt="Blue Algae" />
    <p class="caption-helper">A blue-green algae bloom.</p>

    <p>Report any details about how it was growing, colour, odour, and substrate (in water, sand, rock, wood, vascular plants).</p>
    <img src="http://riverrangerimages.mybluemix.net/images/algae-classification.png" alt="Algae classification" />

    

    <h2>Aquatic vegetation classification key</h2>
    <ul>
      <li>A - Emergent macrophytes (rooted, stem, leaves)</li>
      <li>B - Submerged macrophytes (rooted, stems &amp; leaves)</li>
      <li>C - Filamentous algae on bottom</li>
      <li>D - Globular algae on bottom</li>
      <li>E - Algae floating on surface (film or filamentous)</li>
      <li>F - Filamentous algae throughout water column (strands)</li>
      <li>G - Algae throughout water column</li>
    </ul>

    <p><strong>Sample size and preservation:</strong> Any clean container (i.e. plastic jars provided, or yogurt container etc) can be used to contain the sample (250-500mL). Keep the water with the sample. The sample can be stored for 2-3 days either open on a window sill or outside, or closed in a cool area (cooler with ice pack or fridge).</p>

    

  </div>
  
</div>