<div class="helpers">
  <a href=<%= url_for(:back) %> class="back">Back</a>
  <h1>Reptiles</h1>


  <div class="description">

    <%= image_tag('helpers/beaver.jpg', alt: "Just a dummy") %>
    <p class="caption">Beaver</p>
    <h2>Reptiles living near the shores</h2>
    <ul>
      <li>Beavers</li>
      <li>Mink</li>
      <li>Muskrat</li>
      <li>Otter</li>
    </ul>


    <h2>More reptiles live in nearby woodlands</h2>

    <ul>
      <li>Squirrels</li>
      <li>Red Foxes</li>
      <li>Striped Skunk</li>
      <li>Porcupine</li>
      <li>White‐tailed Deer</li>
      <li>Little Brown and Big Brown Bats</li>
    </ul>

    <p>Wolf, Lynx, Moose, Marten, and Wolverine are more restricted to the boreal forest of the upper reaches of the Ottawa River. The Black Bear inhabits the entire watershed, often living near lakes and rivers. This omnivore mostly feeds on vegetation but also consumes fish.</p>
  </div>
  <div class="reported-by">
    <h2>Reported at this location by</h2>
    <ul class="table-observers">
      <li><cite class="date">April 27, 2015</cite><cite>kathryn Kavanagh</cite></li>
      <li><cite class="date">April 10, 2015</cite><cite>Peter McLaren</cite></li>
      <li><cite class="date">March 29, 2015</cite><cite>Owen Bradley</cite></li>
    </ul>
  </div>
</div>