<div class="helpers">
  <h1>Reptiles</h1>


  <div class="description">

    
    <h2>Common Reptiles living near the shores</h2>
    <ul>
      <li>Common Snapping Turtle</li>
      <li>Midland Painted Turtle</li>
      <li>Red-Eared Slider Turtle (introduced species)</li>
      <li>Water snake</li>
    </ul>


    <h2>Reptiles at risk</h2>

    <ul>
      <li>Eastern Spiny Softshell Turtle</li>
      <li>Common Map Turtle</li>
      <li>Wood Turtle (from pet-trade exploitation)</li>
      <li>Stinkpot Turtle</li>
      <li>Blanding’s Turtle</li>
      <li>Spotted Turtle</li>
      <li>Eastern Milksnake</li>
      <li>Eastern Ribbon Snake</li>
    </ul>
    <img src="http://riverrangerimages.mybluemix.net/images/spotted-turtle.jpg" alt="Spotted turtle" />
    <p class="caption-helper">The Spotted Turtle: An endangered species along the Ottawa River</p>

  </div>

</div>