<div class="helpers">
  <h1>Shoreline Alterations</h1>


  <div class="description">

    <%= image_tag('helpers/shore.jpg', alt: "Natural shoreline") %>
    <p class="caption-helper">Shorelines should remain natural for at least 5m. Manmade structures can affect shore integrity further down stream</p>




    <p>Development near shorelines and alteration to the shoreline itself should adhere to the applicable permitting process in order to ensure that harmful erosion is prevented and that effective flood control is maintained. This type of work often requires an environmental assessment in order to prevent pollution and aquatic habitat loss.</p>
    <h2>Report if...</h2>

    <ul>
      <li>Trees/plants are removed from within 5m of the shoreline</li>
      <li>Grass and other plants are cut short within 5m of the shoreline</li>
      <li>Sand or other foreign substance is used for landscaping</li>
      <li>Walls or retaining walls are being built along the shore</li>
      <li>Anything that may affect the integrity of the shoreline</li>
    </ul>
  </div>

</div>