<div class="helpers">
  <h1>Species at Risk</h1>


  <div class="description">

    <%= image_tag('helpers/spotted-turtle.jpg', alt: "Spotted turtle") %>
    <p class="caption-helper">The Spotted Turtle: An endangered species along the Ottawa River</p>

    <p>Certain species at risk deemed to be at risk of disappearing in Ontario; if you see a species at risk, you can help provincial conservation efforts by <a href="http://www.ontario.ca/environment-and-energy/report-rare-species-animals-and-plants">reporting your sighting</a> to the Ministry of Natural Resources and Forestry’s Natural Heritage Information Centre (NHIC). Information collected from these reports expands knowledge of species at risk habitat and aids in conservation and recovery.</p>

    <h2>Find a full list of species at risk here:
      <a href="http://ottawariver.org/pdf/51-appendixH.pdf" target="_blank">ottawariver.org - species at risk</a></h2>
  </div>

</div>