<div class="helpers">
  <a href=<%= url_for(:back) %> class="back">Back</a>
  <h1>Species at Risk</h1>


  <div class="description">

    <%= image_tag('helpers/crowley-blanding-turtle.jpg', alt: "Crowley Blanding Turtle") %>
    <p class="caption">Crowley Blanding Turtle</p>

    <p>Certain species at risk deemed to be at risk of disappearing in Ontario; if you see a species at risk, you can help provincial conservation efforts by <a href="http://www.ontario.ca/environment-and-energy/report-rare-species-animals-and-plants">reporting your sighting</a> to the Ministry of Natural Resources and Forestry’s Natural Heritage Information Centre (NHIC). Information collected from these reports expands knowledge of species at risk habitat and aids in conservation and recovery.</p>

    <h2>Species at risk include</h2>
    <ul>
      <li>Beavers</li>
      <li>Mink</li>
      <li>Muskrat</li>
      <li>Otter</li>
    </ul>
  </div>
  <div class="reported-by">
    <h2>Reported at this location by</h2>
    <ul class="table-observers">
      <li><cite class="date">April 27, 2015</cite><cite>kathryn Kavanagh</cite></li>
      <li><cite class="date">April 10, 2015</cite><cite>Peter McLaren</cite></li>
      <li><cite class="date">March 29, 2015</cite><cite>Owen Bradley</cite></li>
    </ul>
  </div>
</div>