<div class="helpers">
  <h1>temperature</h1>

  <div class="description">

    <%= image_tag('helpers/temperature.jpg', alt: "testing temperature") %>
    <p class="caption-helper">You can use a pool thermometer</p>

    <p>Since cold-blooded aquatic species regulate their body temperature using the surrounding environment, most fish and amphibians have a preferred water temperature. Discharges of warm water into the environment may reduce the amount of available cold-water habitat that many species need in order to thrive. </p>

    <h2>How to measure</h2>
    <p>Whenever possible, measure temperature by placing the thermometer directly into the lake or stream.</p>


  </div>

</div>