<div class="helpers">
  <h1>Trash</h1>


  <div class="description">
        <img src="http://riverrangerimages.mybluemix.net/images/trash.jpg" alt="Trash example" />
    <p class="caption-helper">When you see it, pick it up! </p>


    <p>While the beauty of the Ottawa River watershed offers a wealth of recreational opportunities, increased use can also lead to unsightly impacts! Do your part to keep the river clean by throwing trash away, and by participating in a shoreline cleanup event organized by the Ottawa Riverkeepers.</p>

    <h2>Trash includes...</h2>
    <ul>
      <li>Garbage/landfill </li>
      <li>Human/animal waste</li>
      <li>Industrial dumping</li>
    </ul>

  </div>

</div>