<div class="helpers">
  <h1>wildlife death</h1>


  <div class="description">





    <p>While it is normal to occasionally encounter dead wildlife, mass deaths of fish may be a sign of environmental stress, frequently as a result of a reduction in dissolved oxygen concentration in the water. Animal deaths may also occur as a result of pollution, although this tends to be less common.</p>
      <img src="http://riverrangerimages.mybluemix.net/images/dead.jpg" alt="dead fish" />

    <p class="caption-helper">Thousands of dead fish blanketed the Belle River near Lake St. Clair August 2014. Possible causes could be a sudden change in the water  temperature during a rain storm, or sewage and bacteria in the water deprived fish of oxygen.</p>
  </div>

</div>