<div class="helpers">
  <h1>zebra mussels</h1>


  <div class="description">
    <img src="http://riverrangerimages.mybluemix.net/images/zebra.jpg" alt="zebra mussels" />
    <p class="caption-helper">Example of the Zebra Mussel</p>


    <p>Native to the Baltic, these invasive mussels made their way into the Great Lakes in the late 1980’s, probably in the ballast water of ships traveling the St. Laurence Seaway. They are mobile in their juvenile veliger form, before they build their shells; thick encrustations of zebra mussels may clog water intake pipes and out-compete native varieties of mussel. While still relatively uncommon within the Ottawa River Watershed, River Rangers should keep an eye out for these invasive organisms.</p>

    <h2>How to identify</h2>

    <ul>
      <li>Average 2-2.5 cm, reaching up to 4 cm long</li>
      <li>Sits flat on its underside</li>
      <li>Triangular in shape</li>
      <li>Black or brown with white to yellow zigzagged patterns</li>
      <li>Color patterns can vary</li>
    </ul>
  </div>

</div>