<% provide(:title, "Thanks for registering") %>

<p>Please check your email for an activation link so you can start using River Ranger.</p>

<p>If you have already activated your account for you can <%= link_to("Login", login_path) %>.</p>