<% provide(:title, "Thanks for registering") %>
<div class="image-background"></div>
<section class="about dialogue">
  <h1>Just one more step, Ranger!</h1>
<p>Check your email for an activation link so you can start!</p>

<p>If you have already activated your account for you can <%= link_to("Login", login_path) %>.</p>
</section>