<% provide(:title, "News") %>

<section id="tweets" class="content">
  
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <% if tweet.media? %>
          <%= image_tag("#{tweet.media[0].media_url}:thumb") %>
        <% end %>
        <p><%= twitter_text(tweet.text) %></p>
        <em><%= l tweet.created_at %></em>         
      </li>
    <% end %>
  </ul>
  <p><a href="http://twitter.com/riverRangerCA">Follow @RiverRangerCA</a>
</section>
