<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<%= link_to 'New Photo', new_photo_path %>
<br>
<br>
<div>
  <% @photos.each do |photo| %>
    <% unless photo.image_file_name.nil? %>
      <div>
        <div><%= Observation.find(photo.observation).description %></div> 
        <div><%= link_to (image_tag photo.image.url(:thumb)), photo %></div>
      </div>
    <% end %>
  <% end %>
</div>
