// To contain our sass variables, mixins and extends

// Variables -------------------------------------------------------------------

$blue: #0f2a47;
$orange: #c0591a;
$beige: #ceccb3;
$brown: #502a13;
$white: #fffff2;
$good: #195d50;
$warning: #9e5627;

$primary-color: $blue;
$secondary-color: $orange;

// Fonts

@font-face {
  font-family: 'veneerlowresregular';
  src: font-url('veneerlowres-webfont.eot');
  src: font-url('veneerlowres-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('veneerlowres-webfont.woff') format('woff'),
       font-url('veneerlowres-webfont.ttf') format('truetype'),
       font-url('veneerlowres-webfont.svg#veneerlowresregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Functions ---------------------------------------------------------------------

@function multiple-box-shadow($depth, $color) {
  $value: '0px 0px 0 #{$color}';
  @for $i from 1 through $depth {
    $value: '#{$value} , -#{$i * +1}px #{$i * +1}px 0 ' + $color;
  }

  @return unquote($value);
}

// Mixins ------------------------------------------------------------------------

// Box sizing
@mixin box-sizing($sizing-type) {
  -moz-box-sizing:$sizing-type;
  -webkit-box-sizing:$sizing-type;
  box-sizing:$sizing-type;
}

// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Transforms
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transition: $transform;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Gradients
@mixin gradient-directional($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Extends -----------------------------------------------------------------

// @extend %clearfix;
%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
  }
}

