@import "common";
@import "font-awesome-sprockets";
@import "font-awesome";

// Core site styles

* {
  @include box-sizing(border-box);
}
html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 400 100%/1.4 "Courier New", Courier, monospace; 
  width: 100%;
  background: $white image-url("main-texture.png");
}
img {
  display: block;
  max-width: 100%;
}

// Typography

h1,h2,h3,h4 {
  font-family: "veneerlowresregular";
  font-weight: 400;
  color: $primary-color;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  font-size: 3.125em;
  margin-bottom: 0.5em;
}

cite{
  font-style: normal;
  font-size: 0.9em;
}

.caption, .caption-helper{
  text-align: center;
  font-size: 0.9em;
  border-bottom: 1px dashed $beige;
  margin-bottom: 20px;
}

p{
  margin: 0 0 15px;
}

.center{
  text-align: center;
}
// Links

a {
  color: $secondary-color;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    opacity: 0.9;
  }
}

hr{
  border: 1px dashed $beige;
}

// Forms and buttons

.big-label{
  font-size: 1.3em;
}


input, textarea {
  background-color: #f6f6f6;
  border: 0;
  color: $brown;
  display: block;
  font: 400 110%/1.4 "Courier New", Courier, monospace; 
  padding: 1em;
  width: 100%;
  margin-bottom: 30px;
  &.short{
    width: 350px;
    display: inline;
  }
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2), inset);
  &[type="checkbox"], 
  &[type="radio"] {
    display: inline-block;
    padding: 10px;
    width: auto;
    margin: 0;
    + label + a {
      color: $secondary-color;
      font-weight: 600;
      margin: 10px 0;
      &:after {
        content: "";
        display: block;
        margin-bottom: 0.5em;
        width: 100%;
      }
    }
  }
}
textarea {
  min-height: 200px;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
}
form {
  margin: 50px auto;
  max-width: 600px;
  padding: 0 20px;
  > div {
    margin-bottom: 1em;
  }
  h2{
    text-align: left;
    margin: 30px 0 10px;
  }
  h1{
    margin-top: 60px;
  }
}

.test-data, .comment{
  margin-top: 40px;
}

.observation-container{
  padding: 10px 20px;
}

.login-prompt{
  text-align: center;
  margin: 50px 0;
}
.forgot-password-link {
  padding: 0 1em;
  text-align: center;
}

.location-input {
  img {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
  }
}

.loading {
  font-size: 1.2em;
  padding: 4em 1em 2em;
  position: relative;
  text-align: center;
}

.error-location {
  border: 1px solid $secondary-color;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
  text-align: center;
}

a.info{
  color: $secondary-color;
  font-weight: bold;
}

.notice {
  margin: 0;
  height: 64px;
  line-height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 3000;
  &.success {
    background-color: #7ad14b; 
    color: $white;
  }
  &.alert {
    background-color: #D14B4B;
    color: $white;
  }
}

.button {
  background: image-url("button-background.jpg");
  border: 1px solid $brown;
  box-shadow: multiple-box-shadow(10, $brown);
  color: $white;
  display: inline-block;
  font: 400 1.8em/1 "veneerlowresregular";
  padding: 0.6em 1.4em;
  &:hover {
    color: $white;
    @include position(relative, $top: 4px, $left: -4px);
    box-shadow: multiple-box-shadow(6, $brown);
  }
  &.mini {
    border: 1px solid #000;
    background: $primary-color image-url("main-texture.png");
    color: #fff !important;
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 1.2em;
    box-shadow: multiple-box-shadow(3, $primary-color);
    &:hover{
      @include position(relative, $top: 1px, $left: -1px);
      box-shadow: multiple-box-shadow(2, $primary-color);
    }
  }
}
input.button{
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

.actions input.button{
  display: block;
}

.research-reports{
  //display: none;
}

// Marketing site ------------------------------------------------------------

// Home site

.home-index {
  background: image-url("home-background.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
}

// Header

.site-header {
  max-width: 1000px;
  text-align: center;
}
.home-nav {
  font: 400 1.8em/1.4 "veneerlowresregular";
  margin: 0 auto;
  max-width: 1000px;
  padding: 4em 0 0;
  text-align: center;
  @extend %clearfix;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    float: left;
    text-align: center;
    width: 20%;
    &.logo {
      position: relative;
      top: -2.5em;
    }
  }
  img {
    width: 100%;
  }
}

// Footer 

.site-footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 1.6em;
  text-align: center;
  @extend %clearfix;
}

// Application ---------------------------------------------------------------

body#riverranger-app {
  background-color: lighten($beige, 20%);
  #main {
    padding: 90px 0 100px;
  }
  &.observations-index {
    height: 100%;
    #main {
      height: 100%;
      padding: 108px 0 64px;
    }
  }
  &.observations-show {
    #main {
      padding: 64px 0 0;
    }
  }
}

// header 
.app-header {
  background-color: $primary-color;
  background-image: image-url("main-texture.png");
  color: $white;
  left: 0;
  height: 64px;
  padding: 1em;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  z-index: 1100;
  h1 {
    color: $white;
    font-size: 1.50em;
  }
  &.scroll {
    background-color: rgba($primary-color, 0.9);
  }
}

// Footer and navigation
.app-footer {
  background: $primary-color;
  background-image: image-url("main-texture.png");
  border-top: 1px solid darken($primary-color, 10%);
  @include box-shadow(0, -3px, 7px, rgba(0, 0, 0, 0.2));
  bottom: 0;
  left: 0;
  height: 64px;
  position: fixed;
  right: 0;
  z-index: 1100;
  ul {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    li {
      display: inline;
      float: left;
      text-align: ceter;
      width: 20%;
      &.logo {
        a{
          padding: 0;         
        }
        img {
          margin: 0 auto;
          position: relative;
          top: -20px;
          width: 300px;
          @include transition(all, 0.2s, ease-in-out);
          @media only screen and (min-width : 600px){
            &:hover{
              top: -40px;
            }
          }
        }
      }
      &.add, &.map, &.news, &.more{
        a{
          font: 400 0.9em/1 "veneerlowresregular";
          background: image-url("menu/add.png") no-repeat 50% 10px;
          background-size: 25px 26px;
          padding-top: 42px;
          color: $white;
          opacity: 0.6;
          &.active{
            opacity: 1;
          }
        }
      }
      &.map a{
        background-image: image-url("menu/map.png");
      }
      &.news a{
        background-image: image-url("menu/news.png");
      }
      &.more a{
        background-image: image-url("menu/more.png");
      }
      a {
        display: block;
        padding: 0.8em;
        text-align: center;
        @include transition(all, 0.2s, ease-in-out);
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  a {
    color: #fff;
    display: block;
    text-align: center;

  }
}

// Intro popup

.popup {
  background: image-url("intro-image.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  padding: 2em;
  text-align: center;
  h2{
    line-height: 1em;
    margin-bottom: 20px;
    color: $white;
  }
  img {
    display: block;
    margin: 0 auto 2em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a{
    &.button{
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}

.mfp-content{
  background: $white image-url("main-texture.png");
  h1{
    margin-top: 30px;
  }
  .submit{
    text-align: center;
    input.button{

    }
  }
}

// Maps

#map {
  height: 100%;
  width: 100%;
}
#location_map {
  height: 250px;
  margin-bottom: 1em;
  width: 100%;
}
#search-bar {
  background-color: #f6f6f6;
  left: 0;
  position: fixed !important;
  top: 64px;
  right: 0;
  z-index: 1000;
  input {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }
}
.map-popup {
  text-align: center;
}
.map-menu {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  font-size: 0.8em;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 500;
  ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
    li {
      display: inline;
      float: left;
      a {
        background-color: #fff;
        display: block;
        padding: 0.4em 0.8em;
        &.active, &:active {
          background-color: #f2f2f2;
          color: #000;
        }
      }
      &:first-child {
        border-right: 1px solid #ccc;
        a {
          border-radius: 5px 0 0 5px;
        }
      }
      &:last-child {
        a {
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
}

.observation{
  background: #e5e3d2;
  background-image: image-url("main-texture.png");
  .gallery{
    img{
      width: 100%;
      min-height: 400px;
      background-color: $brown;
    }
    .photographer{
      background-color: rgba($primary-color, 0.5);
      height: 40px;
      margin-top: -40px;
      position: relative;
      z-index: 10;
      cite{
        padding-top: 10px;
        color: $white;
        display: block;
        text-align: center;
      }
    }
  }
  .tags{
    padding: 30px 0;
    background: image-url("wood.jpg");
    @include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.5));
    ul.badges{
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
      padding: 0;
      li{
        list-style: none;
        width: 130px;
        height: 180px;
        display: inline-table;
        text-align: center;
        margin: 0 auto;
        a{
          display: block;
          background: image-url("badge-blue.png") no-repeat 50% 0;
          background-size: 100px 100px;
          img{
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            position: relative;
            top: 10px;
          }
        }
        &.warning a{
          background: image-url("badge-orange.png") no-repeat 50% 0;
          background-size: 100px 100px;
        }
        &.danger a{
          background: image-url("badge-red.png") no-repeat 50% 0;
          background-size: 100px 100px;
        }
        &.species-at-risk a, &.wildlife-death a, &.shoreline-alterations a, &.water-quality a, &.zebra-mussels a, &.giant-hogweed a{
          h2{
            font-size: 1.2em;
            margin: 5px 0;
          }
        }
        &.shoreline-alterations a, &.dog-strangling-vine a, &.introduced-honeysuckle a{
          h2{
            font-size: 1.2em;
            margin: 2px 0;
          }
        }
        h3{
          color: $white;
          font-size: 40px;
        }
        h2{
          padding-top: 10px;
          line-height: 1;
        }
        cite{
          display: block;
          text-align: center;
        }
      }
    }
  }
}

.comments{
  list-style: none;
  margin: 50px 0 20px;
  padding: 0 20px;
  li{
    margin-bottom: 30px;
  }
  p{
    max-width: 350px;
    margin: 0 auto 20px;
    text-align: center;
  }
  cite{
    opacity: 0.5;
    text-align: center;
    display: block;
    .name{
      text-transform: uppercase;
    }
  }
}

.science{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      background-color: $primary-color;
      background-image: image-url("main-texture.png");
      position: relative;
      margin-bottom: 2px;
      &.good{
        background-color: $good;
      }
      &.warning{
        background-color: $warning;
      }
      a{
        display: block;
        padding: 15px 30px;
        overflow: hidden;
        h1,h2,h3,cite{
          color: $beige;
          text-align: left;
        }
        h1{
          font-size: 80px;
          line-height: 1em;
          margin: 0;
        }
        h2{
          font-size: 35px;
          margin-top: 30px;
        }
        h3{
          font-family: courier;
        }
        .current, .average, .graph{
          float: left;
          width: 30%;
          img{
            max-height: 80px;
          }
        }
      }
    }
  }
}

.research{
  border-top: 5px dashed $primary-color;
  border-bottom: 5px dashed $primary-color;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      text-align: left;
      margin-bottom: 15px;
      a{
        display: block;
        margin: 0 10px 0 20px;
        background: image-url("more-blue.png") no-repeat 100% 50%;
        background-size: 13px 24px;
      }
      h3{
        text-align: left;
      }
      cite{
        opacity: 0.7;
      }
    }
  }
}

img.more-link{
  width: 15px;
  position: absolute;
  top: 40%;
  right: 10px;
}

.table-observers{
  list-style: none;
  margin: 20px 0;
  padding: 0;
  border-top: 2px dashed $primary-color;
  li{
    border-bottom: 2px dashed $primary-color;
    padding: 5px 10px;
  }
  cite{
    font-size: 0.9em;
  }
  cite.date{
    display: inline-block;
    width: 200px;
    @media only screen and (max-width : 600px){
      width: 50%;

    }
  }
}
.helpers{
  max-width: 1000px;
  margin: 20px auto 30px;
  overflow: hidden;
  h2{
    margin: 30px 0 10px;
    text-align: left;
  }
  img{
    width: 100%;
  }
  .description{
    padding: 20px;
    ul, p{
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    }
    ul{
      margin: 15px 0 25px 20px;
      padding: 0;
      li{
        margin-bottom: 10px;

      }
    }
  }
}

#tweets{
  margin: 50px auto;
  max-width: 600px;
  ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li{
      margin-bottom: 20px;
      padding: 10px 20px 20px;
      @extend %clearfix;
      border-bottom: 1px dashed $primary-color;
      p{
        font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      }
      a{
        color: $primary-color;
      }
      img{
        float: left;
        margin-right: 20px;
      }
    }
  }
}

.user-tasks{
  position: absolute;
  top: 46px;
  right: 0px;
  list-style: none;
  display: block;
  li{
    a{
      background-image: image-url("main-texture.png");
      background-color: $primary-color;
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      color: $white;
      padding: 15px 30px;
      display: inline-block;
      width: 200px;
      font-weight: normal;
      font-size: 0.9em;
      border-bottom: 1px solid darken($primary-color, 5%);
      &:hover{
        background-color: darken($primary-color, 5%);
      }
    }
  }
}

a.settings{
  height: 36px;
  width: 29px;
  position: absolute;
  top: 15px;
  right: 10px;
  background: image-url("settings.png") no-repeat 0 0;
  background-size: 28px 29px;
  text-indent: -99999999px;
  display: block;
  &:hover{
    opacity: 0.8;
  }
}

.image-background{
    @media (min-width: 700px) {
      background: image-url("background-image.jpg") no-repeat 0 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-size: 100% 100%;
      top: 0;
      left: 0;
    }
}

.about{
  max-width: 900px;
  padding: 30px;
  margin: 50px auto 100px;
  background: rgba(255,255,255,0.85) image-url("main-texture.png");
  @extend %clearfix;
  position: relative;
  &.dialogue{
    max-width: 700px;
    p{
      text-align: center;
    }
  }
  h5{
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 70px;
  }
  h2{
    text-align: left;
  }
  div{
    @media (min-width: 700px) {
      width: 40%;
      float: left;
      margin-right: 10%;
    }
    .caption{
      margin-bottom: 20px;
    }
    ul{
      margin: 20px 0;
      padding: 0;
      li{
        margin-left: 20px;
        list-style-image: image-url("star.png");
      }
      &.us{
        li{
          list-style-image: image-url("user.png");
        }
      }
    }
    p, li{
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      margin-bottom: 10px;
    }
  }
}

.add-more{
  margin: 0 auto 50px;
  text-align: center;
  @extend %clearfix;
  .button{
    text-align: center;
    margin: 20px 0;
  }
  cite{
    display: block;
    margin-top: 30px;
  }
}

.paypal{
  margin: 0;
  input{
    width: auto;
    background: none;
    box-shadow: none;
  }
}
