<%= render layout: 'layouts/container', locals: { :body_id => "app" } do %>
  <%= render "app_header" %>
    <main id="main" role="main">
      <%= yield %>
    </main>
  <%= render "app_footer" %>
<% end %>
